@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Tourney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Tourney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');
body {
    font-family: 'Audiowide', sans-serif;
    display: flex;
    background: linear-gradient(to bottom, #000428, #000000);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    color: white;
}


h1{
    font-size: 60px;
    margin-bottom: 0;
}


/* Style for the subtitle */
nav p.subtitle {
    font-size: 15px;
    margin-bottom: 10px; /* Add space between the main heading and subtitle */
    font-family: 'Rubik Mono One', monospace;
    
}



nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Tourney', sans-serif;
    /* color: #68fd1e; */
}

.issuer-container {
    width: 1000px;
    padding: 40px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-align: center;
    margin-top: 5%;
    height: 500px;
    font-family: 'Afacad', sans-serif;
    font-size: 30px;
}

.upload-box {
    border: 2px dashed #fff;
    padding: 90px;
    margin-top: 20px;
    cursor: pointer;
}

.upload-box:hover {
    background-color: #242921;
}

#fileInput {
    display: none;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #002ead;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.message {
    font-size: small; 
    color: #68fd1e;
}


.uName{
    font-size: 30px;
}